/*Common CSS*/

.full {
    width: 100%;
    font-family: sans-serif, serif;
}

.container {
    
}

.jumbotron {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*Sidebar*/
.sidebar-left {
    /*background-color: #d6d6d6;*/
}



/*Style for Admin Panel starts here*/

/*index page*/
.greeting {
    text-align: center;
    background-color: #999;
    border-radius: 5px;
}


/*manageteacher page*/
table tr th {
    text-align: center;
}

/*Style for Admin Panel ends here*/


/*Style for Teacher Panel starts here*/




/*Style for Admin Panel ends here*/



